* {
  margin: 0;
  box-sizing: border-box;
}

body {
  /* Visuals */
  background-color: #fefffe;
}

.container {
  /* Positioning */
  width: 1000px;

  /* Box Model */
  margin: 0 auto;

  /* Visuals */
  background-color: #fefffe;
}

.stop-watch-section {
  /* Box Model */
  margin: 0 auto;
  padding: 30px;

  /* Visuals */
  background-color: #dd4230;
}

h1 {
  /* Box Model */
  margin-bottom: 50px;

  /* Typography */
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  font-weight: 700;
  text-align: center;

  /* Visuals */
  color: white;
}

#time {
  /* Box Model */
  border: 4px solid lightgrey;
  margin-bottom: 30px;

  /* Typography */
  font-family: Arial;
  font-weight: bold;
  text-align: center;

  /* Visuals */
  color: white;
}

#start {
  /* Box Model */
  display: block;
  border-radius: 10px;
  margin: 0 auto;
  padding: 30px;

  /* Typography */
  font-size: 1.2em;
  font-weight: 700;

  /* Visuals */
  background-color: #5f9f89;
  color: white;
}
